#content {
  color: #FFFFFF;
  max-height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

canvas {
  animation: heartBeat 1s alternate infinite;
  animation-timing-function: ease-in;
  max-height: 400px;
}

@keyframes heartBeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
