* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #50555a;
  padding:80px 20px;
}

nav {
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #EFEFEF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.bg-color {
  background-color: #46a1de;
  transition-duration: .5s;
}

.text-color {
  color: #46a1de;
  transition-duration: .5s;
}

footer {
  padding-top: 40px;
  text-align: center;
  opacity: .33;
  color: #EFEFEF;
}

.wrapper {
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto;
}

.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.tabs > li {
  transition-duration: .25s;
  display: table-cell;
  list-style: none;
  text-align: center;
  padding: 20px 20px 25px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #EFEFEF;
}
.tabs > li:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-duration: .25s;
  border-radius: 5px 5px 0 0;
}
.tabs > li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
}
.tabs > li.active {
  color: #50555a;
}
.tabs > li.active:before {
  transition-duration: .5s;
  background-color: #EFEFEF;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.tab__content {
  background-color: #EFEFEF;
  position: relative;
  width: 100%;
  border-radius: 5px;
}
.tab__content > li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style: none;
}
.tab__content > li .content__wrapper {
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 45px 40px 40px 40px;
  background-color: #EFEFEF;
}

.content__wrapper h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300;
}
.content__wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.colors {
  text-align: center;
  padding-top: 20px;
}
.colors > li {
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.colors > li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border-bottom: 10px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.colors > li.active-color {
  -webkit-transform: scale(1.2) translateY(-10px);
  transform: scale(1.2) translateY(-10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 20px solid rgba(0, 0, 0, 0.15);
}

p {
  padding-bottom: 60px;
}

.content__wrapper h2{
  padding-top: 40px;
}

.content-block{
  color: #EFEFEF;
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 30px;
   background: transparent;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card{
  max-width: 80%;
}

.button{
  margin-bottom: 80px;
}
.register-button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  color: #000000;
  font-size: 20px;
  background: #EFEFEF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.register-button:hover {
  background: #bdbdbd;
  text-decoration: none;
  color: #EFEFEF;
}

.register-button a{
  color: #000000;
}

.register-button:hover a{
  color: #ffffff;
}

.return-info{
  color: #EFEFEF;
  font-family: 'Nunito Sans', sans-serif;
}

a{
  text-decoration:  none;
}

.logo-head{
  align: center;
  margin-bottom: 40px;
}

.logo{
  max-height: 250px;
  align: center;
  display: block;
  margin: 0 auto;
}

/* heart pulse */
.pulse {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200px 100px"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulse infinite linear;
          animation: 2s pulse infinite linear;
}
.pulse:before {
  content: '';
  background: transparent;
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;
}

@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  10% {
    clip: rect(0, 66.6666666667px, 100px, 0);
  }
  38% {
    clip: rect(0, 133.3333333333px, 100px, 0);
  }
  48% {
    clip: rect(0, 200px, 100px, 0);
  }
  52% {
    clip: rect(0, 200px, 100px, 0);
  }
  62% {
    clip: rect(0, 200px, 100px, 66.6666666667px);
  }
  90% {
    clip: rect(0, 200px, 100px, 133.3333333333px);
  }
  100% {
    clip: rect(0, 200px, 100px, 200px);
  }
}

@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  10% {
    clip: rect(0, 66.6666666667px, 100px, 0);
  }
  38% {
    clip: rect(0, 133.3333333333px, 100px, 0);
  }
  48% {
    clip: rect(0, 200px, 100px, 0);
  }
  52% {
    clip: rect(0, 200px, 100px, 0);
  }
  62% {
    clip: rect(0, 200px, 100px, 66.6666666667);
  }
  90% {
    clip: rect(0, 200px, 100px, 133.3333333333px);
  }
  100% {
    clip: rect(0, 200px, 100px, 200px);
  }
}

/* grid */
.fukol{
  margin-top: 50px;
  margin-bottom: 75px;
  margin-left: 15%;
  margin-right: 15%;
}

.fukol-grid {
  display: flex; /* 1 */
  flex-wrap: wrap; /* 2 */
  margin: -0.5em; /* 5 (edit me!) */
}

.fukol-grid > * {
  flex: 1 0 5em; /* 3 (edit me!) */
  margin: 0.5em; /* 4 (edit me!) */
  style: none;
}

.sponsors{
  text-align: center;
  color: #EFEFEF;
}

.sponsor{
  background-color: none;
  min-width: 150px;
  max-height: 120px;
  align: center;
}

.sponsor img{
  max-height: 120px;
  max-width: 100%;
  vertical-align: center;
  align: center;
}

.sponsors h1{
  margin-bottom: 25px;
}

.become-sponsor{
  margin-top: 60px;
}

/*Schedule*/
.schedule{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
}

.events{
  width: 100%;
  text-align: center;
  align: center;
}

.events> tbody > tr >td:first-child {
  width: 30%;
}
.events> tbody > tr >td:last-child {
  width: 30%;
}

td{
  text-align: center;
}
